[class*="col-"]{
    float: left;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 24.99%;
}
.col-4 {
    width: 33.32%;
}
.col-5 {
    width: 41.65%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.35%;
}
.col-8 {
    width: 66.68%;
}
.col-9 {
    width: 75.01%;
}
.col-10 {
    width: 83.34%;
}
.col-11 {
    width: 91.67%;
}
.col-12 {
    width: 100%;
}
